ul {
  list-style-type: none;
}

body {
    background-color: black;
}

.title-container {
    height: 80px;
    color: white;
}

#map {
        height: 500px;
      }

#list {
        height: 500px;
}

#placesList {
    color: white;
    margin-top: 15px;
}

.error {
    color:red;
    font-size:200%;
}

.yelp {
    height: 200px;
    color:white;
}

.yelpImg {
    height: 60px;
    width: 100px;
}

