ul {
  list-style-type: none;
}

.title-container {
    background-color: black;
    height: 60px;
}

#map {
        height: 600px;
      }

#list {
        background-color: black;
        height: 600px;
}

#placesList {
    color: white;
    margin-top: 20px;
}

.error {
    color:red;
    font-size:200%;
}

