ul {
  list-style-type: none;
}

body {
    background-color: black;
}

.title-container {
    height: 80px;
    color: white;
}

#map {
        height: 575px;
      }

#list {
        height: 575px;
}

#placesList {
    color: white;
    margin-top: 15px;
}

.error {
    color:red;
    font-size:200%;
}

.yelp {
    height: 200px;
}

